@import url('https://fonts.googleapis.com/css?family=Crete+Round');
@import url('https://fonts.googleapis.com/css?family=Crete+Round|Lobster');

.image-section{
  background-color: #fbfbfb;
  height: 100vh;
  overflow: hidden;
}

.thank-image{
  background-image: url("./2.svg");
  height: 100%;
  width: 100%;
  background-position: center;
  background-size: cover;
}

.group-image{
  background-image: url("./group.svg");
  background-size: cover;
  background-position: center;
  height: 400px;
  width: 500px;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}
.heading{
  margin-top: 40%;
  margin-bottom: 40px;
  text-align: center;
  line-height: 1.2;
}

.heading-primary{
  display: block;
  font-family: 'Crete Round', serif;
  font-size: 60px;
}

.heading-secondary{
  display: block;
  font-family: 'Lobster';
  font-size: 40px;
}

label{
  padding-left: 10px;
  display: inline;
}

.card-heading{
  margin-bottom:50px;
}

.btn-large{
  display: block;
  width: 100%;
}

.response-page{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
